.container-fluid h1 {
  font-size: 60px;
  text-align: center;
}

p {
  text-align: center;
}

.done {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-style: double;
}

body {
  font-family: Calibri;
}

.list {
  font-family: Calibri;
  font-size: 26px;
  border: .5px solid #D3D3D3;  
  list-style: none;
  padding-left: 10px;
  line-height: 33px;
}

.list-group {
  font-size: 70px;
}

.btn {
  float: right;
  margin-left: 15px;

}

